third_party/detectron2
backup
GTR_models
GTR_models_TAO
*.pth
slurm-*.out
slurm-output
# output dir
output
instant_test_output
inference_test_output


*.png
# *.json
*.diff

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.ts
model_ts*.txt

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs

# project dirs
/detectron2/model_zoo/configs
/datasets/*
!/datasets/*.*
!/datasets/README.md
!/datasets/metadata/
/projects/*/datasets
/models
/snippet
